.subsection {
    background-color: $lightGray;
    padding: 10px;
}

.subsection__text {
    display: inline-block;
    margin: 0 auto;
    max-width: 500px;
}

.subsection__image {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    display: inline-block;
    border-radius: 200px;
}