// sitewide colors
$black: #333333;
$lightGray: #E4E4E4;
$white: #FAFAFA;
$green: #9CEDBB;
$darkGreen: #679C7B;

// sitewide fonts
$font: 'tahoma';

// measurements
$mid-width: 760px;
$small-width: 480px;

$header-height: 100px;
$header-height-small: 50px;