#main-footer {
    background-color: black;
    color: $white;
    //line-height: 50px;
    vertical-align: middle;
    padding: 10px;
}

.main-footer__menu {
    font-size: 14pt;
    line-height: $header-height;
    vertical-align: middle;
    //float: right;
}

@media (max-width: $mid-width) {

    /*
    .main-header {
        height: auto;
    }
    
    .main-header__title {
        line-height: $header-height-small;
        float: none;
    }
    */
    .main-footer__menu {
        line-height: $header-height-small;
        float: none;
    }
}